---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header/Header.astro';
import Hero from "../components/Hero/Hero.astro"
import About from "../components/About/About.astro"
import DownloadApps from "../components/DownloadApps/DownloadApps.astro"
import Footer from "../components/Footer/Footer.astro"
---

<Layout title="Welcome to Gythoub">
	<Header />
	<main>
		<Hero />
		<About />
		<DownloadApps />
		<Footer />
	</main>
</Layout>

<style>
	main {
		margin: auto;
	}
</style>
