.linkWrapper {
  position: relative;
  width: 120px;
  height: 140px;
  color: inherit;
  text-decoration: none;
}

.link {
  display: flex;
  position: absolute;
  inset: 0;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  backface-visibility: hidden;
  transition: transform 0.2s ease-in-out 0s;
  border-radius: 8px;
}

.linkFront {
  transform: perspective(600px) rotateY(0deg);
  background: linear-gradient(45deg, rgb(232 71 230 / 100%) 0%, rgb(240 59 59 / 100%) 100%);
}

.linkBack {
  transform: perspective(600px) rotateY(180deg);
  background: linear-gradient(45deg, rgb(2 96 113 / 100%) 0%, rgb(72 0 117 / 100%) 100%);
}

.img {
  margin-bottom: 16px;
}

.linkWrapper:hover > .linkFront {
  transform: perspective(600px) rotateY(-180deg);
}

.linkWrapper:hover > .linkBack {
  transform: perspective(600px) rotateY(0deg);
}
