---
import externalLinks from "../../assets/external-link.svg"
import styles from './WebAppLink.module.css'
import type { PropsWithChildren } from "react"

type Props = PropsWithChildren<{
  href: string;
}>

const { href } = Astro.props;
---

<a
  class={styles.link}
  href={href}
  style={{
    "--externalLinksSrc": `url(${externalLinks.src})`
  }}
>
  <slot />
</a>