.link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 40px 8px 2px;
  position: relative;
  display: inline-block;
  color: inherit;
  z-index: 1;
}

.link:before {
  position: absolute;
  bottom: 0;
  left: -4px;
  right: -4px;
  content: "";
  height: 2px;
  border-radius: 1px;
  background: linear-gradient(45deg, rgba(232, 71, 230, 1) 0%, rgba(240, 59, 59, 1) 100%);
  transition:
    height 0.1s,
    border-radius 0.1s;
  z-index: -1;
}

.link:after {
  display: inline-block;
  content: "";
  width: 40px;
  height: 100%;
  background-image: var(--externalLinksSrc);
  background-repeat: no-repeat;
  background-size: 32%;
  background-position: right;
  position: absolute;
  right: 4px;
  top: 0;
}

.link:hover:before {
  height: 34px;
  border-radius: 4px;
}
