.main {
  height: 64px;
  background: linear-gradient(45deg, rgba(15, 28, 57, 1) 0%, rgba(35, 0, 58, 1) 100%);
  color: white;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: flex-end;
  padding-right: 32px;
}
