.main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 64px;
  padding-right: 32px;
  background: linear-gradient(45deg, rgb(15 28 57 / 100%) 0%, rgb(35 0 58 / 100%) 100%);
  gap: 24px;
}
