---
import Title from "../Title/Title.astro"
import Quote from "../Quote/Quote.astro"

import styles from "./About.module.css"
---

<main class={styles.main}>
  <Title>What is gythoub about ?</Title>
  <div class={styles.content}>
    <p>
      Hello 👋! I'm Cédric, the sole frontend developer behind the Gythoub application
      and all its related projects.
    </p>
    <p>
      Gythoub is a sandbox where I experiment with various frameworks, all centered around a
      unified content base, organized within a monorepo. One of the key features of Gythoub
      is its integration with the GitHub API, enabling users to connect their accounts and
      perform code reviews directly within the app. This makes managing pull requests and
      streamlining the review process easier, offering a smoother experience compared to
      the standard GitHub interface. (I hope 🤞)
    </p>
    <p>
      In terms of technology, Gythoub leverages React and TypeScript, along with the most
      up-to-date tools in this ecosystem. My plan includes developing web apps using frameworks
      like Next.js and Remix, desktop applications with Electron, and mobile apps using Expo.
      This approach allows me to maintain a single codebase in React while deploying across
      different platforms, which is a core part of Gythoub’s vision.
    </p>
    <p>
      Ultimately, this project is a personal learning journey. I aim to sharpen my skills and
      demonstrate a proof of concept for having a shared codebase that functions seamlessly
      across web, desktop, and mobile devices. It’s also a way for me to showcase my abilities
      to potential future employers, illustrating my capacity to adapt, innovate, and build
      ersatile applications. While there is no fixed roadmap or deadlines, the flexibility
      allows me to focus on continuous improvement and exploration, pushing the boundaries
      of what I can create with modern frontend tools.
    </p>
  </div>
  <Quote />
</main>