.main {
  padding: 16px;
  font-size: 18px;
}

.content {
  max-width: 990px;
  text-align: justify;
}

.content > p:first-child {
  margin-top: 0;
}

.contentWrapper {
  display: flex;
  justify-content: center;
}

@media (width > 800px) {
  .main {
    padding: 16px 32px;
  }

  .content {
    columns: 2;
    column-gap: 32px;
  }
}
