.quoteWrapper {
  display: flex;
  justify-content: center;
}

.quote {
  position: relative;
  z-index: 1;
  margin: 24px 0;
  padding: 24px;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.quote::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-image: var(--quoteLeftSrc);
  background-repeat: no-repeat;
  background-size: 60%;
}

.quote::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-image: var(--quoteRightSrc);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 100%;
  background-position-y: bottom;
}
