.main {
  padding: 16px;
  background: linear-gradient(45deg, rgb(2 96 113 / 100%) 0%, rgb(72 0 117 / 100%) 100%);
}

.appsWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.apps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

@media (width > 800px) {
  .main {
    padding: 16px 32px;
  }

  .apps {
    grid-template-columns: repeat(5, 1fr);
  }
}
