---
import styles from "./Hero.module.css"
---

<div class={styles.main}>
  <h1 class={styles.title}>
    <span class={styles.oversize}> Gythoub </span>
    <span class={styles.subtitle}> Unlock the Power of Seamless Code Reviews </span>
  </h1>
</div>
