.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0 16px;
  background: linear-gradient(45deg, rgb(2 96 113 / 100%) 0%, rgb(72 0 117 / 100%) 100%);
}

.title {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-shadow: 4px 4px 2px rgb(0 0 0 / 60%);
}

.oversize {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-bottom: 24px;
  font-size: 72px;
}

.oversize::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -8px;
  bottom: -4px;
  left: -8px;
  height: 30px;
  border-radius: 4px;
  background: linear-gradient(45deg, rgb(232 71 230 / 100%) 0%, rgb(240 59 59 / 100%) 100%);
}

.subtitle {
  display: block;
  line-height: 1.2;
}

@media (width > 800px) {
  .main {
    height: 400px;
    padding: 0 32px;
  }

  .title {
    font-size: 48px;
  }
}
