.title {
  text-align: center;
}

.text {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0 0 32px;
  font-size: 24px;
  font-weight: 900;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 60%);
}

.text::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: -8px;
  bottom: -4px;
  left: -8px;
  height: 18px;
  border-radius: 4px;
  background: linear-gradient(45deg, rgb(2 96 113 / 100%) 0%, rgb(72 0 117 / 100%) 100%);
}

.text--alternative::before {
  background: linear-gradient(45deg, rgb(232 71 230 / 100%) 0%, rgb(240 59 59 / 100%) 100%);
}

@media (width > 800px) {
  .text {
    font-size: 36px;
  }
}
