.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 16px;
  background: linear-gradient(45deg, rgb(15 28 57 / 100%) 0%, rgb(35 0 58 / 100%) 100%);
  text-align: center;
}
